body {
  background: #e1c3f8;
  background: linear-gradient(to right, #e1c3f8, #c1d6ff);
  height: 1vw;
}
.main-container {
    margin: 40px 15vw 40px 15vw;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}